/* stylelint-disable */ /*
Copyright 2020 Adobe. All rights reserved.
Copyright 2021 Gaoding. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import './vars.css';
:host {
    margin: 0;
    position: relative;
    z-index: inherit;
}
:host([dir='ltr']) .indicator {
    left: var(
        --spectrum-tree-item-indicator-left,
        var(--spectrum-global-dimension-size-200)
    ); /* [dir=ltr] .spectrum-Tree-itemIndicator */
}
:host([dir='rtl']) .indicator {
    right: var(
        --spectrum-tree-item-indicator-left,
        var(--spectrum-global-dimension-size-200)
    ); /* [dir=rtl] .spectrum-Tree-itemIndicator */
}
:host([dir='rtl']) .indicator {
    transform: matrix(
        -1,
        0,
        0,
        1,
        0,
        0
    ); /* [dir=rtl] .spectrum-Tree-itemIndicator */
}
.indicator {
    --indicator-width: calc(
        var(--spectrum-tree-icon-width) + 2 * var(--spectrum-tree-icon-padding)
    );
    --indicator-height: calc(
        var(--spectrum-tree-icon-height) + 2 * var(--spectrum-tree-icon-padding)
    );
    --indicator-top: calc(var(--indicator-height) / 2);
    display: flex; /* .spectrum-Tree-itemIndicator */
    align-items: center;
    justify-content: center;
    position: absolute;
    width: var(--indicator-width);
    height: var(--indicator-height);
    padding: var(--spectrum-tree-icon-padding);
    top: calc(50% - var(--indicator-top));
    transition: transform ease var(--spectrum-tree-animation-duration);
    border: none;
    cursor: pointer;
    background-color: transparent;
}
:host(:first-of-type) {
    border-top: var(
            --spectrum-tree-item-border-size,
            var(--spectrum-alias-border-size-thin)
        )
        solid transparent; /* .spectrum-Tree-item:first-of-type */
}
#heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0; /* .spectrum-Tree-itemHeading */
    position: relative;
    min-height: var(--spectrum-tree-item-height);
    background-color: var(--spectrum-tree-item-background-color);
    border-radius: var(--spectrum-tree-item-border-radius);
    margin-bottom: var(--spectrum-tree-item-margin-y);
    overflow: hidden;
}
#headerContainer {
    flex: 1;
    overflow: hidden;
}
:host([dir='ltr']) #heading {
    --indicator-width: calc(
        var(--spectrum-tree-icon-width) + 2 * var(--spectrum-tree-icon-padding)
    );
    --padding-left: calc(
        var(--spectrum-tree-item-offset) +
            var(--spectrum-tree-item-padding-left) + var(--indicator-width) +
            var(
                --spectrum-tree-item-header-arrow-gap,
                var(--spectrum-global-dimension-size-100)
            )
    );

    padding-right: var(--spectrum-tree-item-padding-right);
}
:host([dir='ltr']) #header {
    padding-left: var(--padding-left);
}
:host([dir='rtl']) #heading {
    --indicator-width: calc(
        var(--spectrum-tree-icon-width) + 2 * var(--spectrum-tree-icon-padding)
    );
    --padding-right: calc(
        var(--spectrum-tree-item-offset) +
            var(--spectrum-tree-item-padding-left) + var(--indicator-width) +
            var(
                --spectrum-tree-item-header-arrow-gap,
                var(--spectrum-global-dimension-size-100)
            )
    );

    padding-right: var(--padding-right);
}
:host([dir='rtl']) #header {
    padding-left: var(--spectrum-tree-item-padding-right);
}

:host([dir='ltr']) #header {
    text-align: left;
}
:host([dir='rtl']) #header {
    text-align: right;
}
#header {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-family: inherit;
    font-size: var(
        --spectrum-tree-item-title-text-size,
        var(--spectrum-global-dimension-font-size-50)
    );
    color: inherit;
    font-weight: var(--spectrum-tree-item-title-font-weight);
    justify-content: flex-start;
    letter-spacing: var(--spectrum-tree-item-title-tracking-actual);
    line-height: var(--spectrum-tree-item-line-height);
    margin: 0;
    position: relative; /* .spectrum-Tree-itemHeader */
    text-overflow: ellipsis;
    width: 100%;
    min-height: calc(
        var(--spectrum-tree-item-height) - 2 *
            var(--spectrum-tree-item-border-size)
    );
    padding: 0;
}
#header:focus {
    outline: none; /* .spectrum-Tree-itemHeader:focus */
}

#header ::slotted([slot='label']) {
    width: 100%;
}
#label {
    flex: 1 1 auto; /* .spectrum-Menu-itemLabel */
    -webkit-hyphens: auto;
    hyphens: auto;
    line-height: var(--spectrum-tree-item-label-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content {
    display: none;
    border-radius: var(--spectrum-tree-item-border-radius);
}
:host([dir='ltr'][open]) > #heading > .indicator {
    transform: rotate(
        90deg
    ); /* [dir=ltr] .spectrum-Tree-item.is-open>.spectrum-Tree-itemHeading>.spectrum-Tree-itemIndicator */
}
:host([dir='rtl'][open]) > #heading > .indicator {
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg); /* [dir=rtl] .spectrum-Tree-item.is-open>.spectrum-Tree-itemHeading>.spectrum-Tree-itemIndicator */
}
:host([dir='ltr'][open]) > .indicator {
    transform: rotate(
        90deg
    ); /* [dir=ltr] .spectrum-Tree-item.is-open>.spectrum-Tree-itemIndicator */
}
:host([dir='rtl'][open]) > .indicator {
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg); /* [dir=rtl] .spectrum-Tree-item.is-open>.spectrum-Tree-itemIndicator */
}
:host([open]) > #header:after {
    height: calc(
        100% -
            var(
                --spectrum-tree-item-border-size,
                var(--spectrum-alias-border-size-thin)
            )
    ); /* .spectrum-Tree-item.is-open>.spectrum-Tree-itemHeader:after */
}
:host([open]) > #content {
    display: block; /* .spectrum-Tree-item.is-open>.spectrum-Tree-itemContent */
}
:host([disabled]) #header {
    cursor: default; /* .spectrum-Tree-item.is-disabled .spectrum-Tree-itemHeader */
}
.indicator {
    color: var(
        --spectrum-tree-icon-color,
        var(--spectrum-global-color-gray-600)
    ); /* .spectrum-Tree-itemIndicator */
}

#heading {
    background-color: var(--spectrum-tree-item-background-color);
    border-radius: var(--spectrum-tree-item-border-radius);
    border-color: var(--spectrum-tree-item-border-color);
    border-width: var(--spectrum-tree-item-border-size);
    border-style: solid;
    color: var(
        --spectrum-tree-text-color,
        var(--spectrum-global-color-gray-700)
    ); /* .spectrum-Tree-itemHeader */
    min-height: var(--spectrum-tree-item-height);
    transition: background var(--spectrum-tree-item-animation-duration, 0.13s)
            ease-out,
        color var(--spectrum-tree-item-animation-duration, 0.13s) ease-out,
        border-color var(--spectrum-tree-item-animation-duration, 0.13s)
            ease-out;
}

:host #heading:hover,
:host([over]) #heading {
    border-color: var(--spectrum-tree-item-border-color-hover);
}

#header ::slotted([slot='icon']),
#header ::slotted([slot='label']) {
    flex-shrink: 0;
}
:host([dir='ltr']) #header ::slotted([slot='icon']) {
    margin-right: var(--spectrum-tree-icon-gap);
}
:host([dir='rtl']) #header ::slotted([slot='icon']) {
    margin-left: var(--spectrum-tree-icon-gap);
}

:host([dir='ltr']) #header ::slotted([slot='value']) {
    margin-left: var(--spectrum-tree-icon-gap);
}
:host([dir='rtl']) #header ::slotted([slot='value']) {
    margin-right: var(--spectrum-tree-icon-gap);
}

:host([selected]) #heading,
:host([selected]) #heading:hover {
    background-color: var(--spectrum-tree-item-background-color-selected);
    color: var(--spectrum-tree-item-text-color-selected);
}
:host([selected]) .indicator,
:host([selected]) #header slot[name='icon'],
:host([selected]) #header slot[name='value'] {
    color: var(--spectrum-tree-item-icon-color-selected);
}
:host([selected]) #content {
    background-color: var(
        --spectrum-tree-item-content-background-color-selected
    );
}

:host([empty]) .indicator {
    display: none;
}

/* 设置透明度 */
:host([negative]) .indicator,
:host([negative]) .indicator::slotted(*),
:host([negative]) slot[name='icon']::slotted(*),
:host([negative]) slot[name='value']::slotted(*),
:host([negative]) #label-text,
:host([negative]) {
    opacity: var(--spectrum-tree-item-opacity-negative);
}

:host([disabled]) #heading,
:host([disabled]) #heading:hover {
    background-color: var(--spectrum-tree-item-background-color-disabled);
    color: var(
        --spectrum-tree-text-color-disabled,
        var(--spectrum-global-color-gray-500)
    );
}

:host([disabled]) #heading:hover {
    border-color: var(--spectrum-tree-item-border-color);
}

:host([disabled]) #header + .indicator {
    color: var(
        --spectrum-tree-icon-color-disabled,
        var(--spectrum-global-color-gray-400)
    ); /* .spectrum-Tree-item.is-disabled .spectrum-Tree-itemHeader+.spectrum-Tree-itemIndicator */
}

#heading {
    /* .spectrum-Tree-itemHeading */
    height: auto;
    position: relative;
}

:host([open]) > #header:after {
    /* .spectrum-Tree-item.is-open>.spectrum-Tree-itemHeader:after */
    height: calc(
        100% -
            var(
                --spectrum-tree-item-border-size,
                var(--spectrum-alias-border-size-thin)
            )
    );
}
