/*
Copyright 2020 Adobe. All rights reserved.
Copyright 2021 Gaoding. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

// stylelint-disable
@import './variable-theme-light.scss';
/* stylelint-disable */
:host,
:root {
    --spectrum-global-color-status: Verified;
    --spectrum-global-color-version: 5.3;
    --spectrum-global-color-celery-400: #44b556;
    --spectrum-global-color-celery-500: #3da74e;
    --spectrum-global-color-celery-600: #379947;
    --spectrum-global-color-celery-700: #318b40;
    --spectrum-global-color-chartreuse-400: #85d044;
    --spectrum-global-color-chartreuse-500: #7cc33f;
    --spectrum-global-color-chartreuse-600: #73b53a;
    --spectrum-global-color-chartreuse-700: #6aa834;
    --spectrum-global-color-yellow-400: #dfbf00;
    --spectrum-global-color-yellow-500: #d2b200;
    --spectrum-global-color-yellow-600: #c4a600;
    --spectrum-global-color-yellow-700: #b79900;
    --spectrum-global-color-fuchsia-400: #c038cc;
    --spectrum-global-color-fuchsia-500: #b130bd;
    --spectrum-global-color-fuchsia-600: #a228ad;
    --spectrum-global-color-fuchsia-700: #93219e;
    --spectrum-global-color-indigo-400: #6767ec;
    --spectrum-global-color-indigo-500: #5c5ce0;
    --spectrum-global-color-indigo-600: #5151d3;
    --spectrum-global-color-indigo-700: #4646c6;
    --spectrum-global-color-seafoam-400: #1b959a;
    --spectrum-global-color-seafoam-500: #16878c;
    --spectrum-global-color-seafoam-600: #0f797d;
    --spectrum-global-color-seafoam-700: #096c6f;
    --spectrum-global-color-magenta-400: #{$global-color-static-magenta-400};
    --spectrum-global-color-magenta-500: #{$global-color-static-magenta-500};
    --spectrum-global-color-magenta-600: #{$global-color-static-magenta-600};
    --spectrum-global-color-magenta-700: #{$global-color-static-magenta-700};
    --spectrum-global-color-purple-400: #{$global-color-static-purple-400};
    --spectrum-global-color-purple-500: #{$global-color-static-purple-500};
    --spectrum-global-color-purple-600: #{$global-color-static-purple-600};
    --spectrum-global-color-purple-700: #{$global-color-static-purple-700};
    --spectrum-global-color-red-400: #{$global-color-static-red-400};
    --spectrum-global-color-red-500: #{$global-color-static-red-500};
    --spectrum-global-color-red-600: #{$global-color-static-red-600};
    --spectrum-global-color-red-700: #{$global-color-static-red-700};
    --spectrum-global-color-orange-400: #{$global-color-static-orange-400};
    --spectrum-global-color-orange-500: #{$global-color-static-orange-500};
    --spectrum-global-color-orange-600: #{$global-color-static-orange-600};
    --spectrum-global-color-orange-700: #{$global-color-static-orange-700};
    --spectrum-global-color-green-400: #{$global-color-static-green-400};
    --spectrum-global-color-green-500: #{$global-color-static-green-500};
    --spectrum-global-color-green-600: #{$global-color-static-green-600};
    --spectrum-global-color-green-700: #{$global-color-static-green-700};
    --spectrum-global-color-blue-400: #{$global-color-static-blue-400};
    --spectrum-global-color-blue-500: #{$global-color-static-blue-500};
    --spectrum-global-color-blue-600: #{$global-color-static-blue-600};
    --spectrum-global-color-blue-700: #{$global-color-static-blue-700};
    --spectrum-global-color-gray-100: #{$global-color-gray-100};
    --spectrum-global-color-gray-200: #{$global-color-gray-200};
    --spectrum-global-color-gray-300: #{$global-color-gray-300};
    --spectrum-global-color-gray-400: #{$global-color-gray-400};
    --spectrum-global-color-gray-500: #{$global-color-gray-500};
    --spectrum-global-color-gray-600: #{$global-color-gray-600};
    --spectrum-global-color-gray-700: #{$global-color-gray-700};
    --spectrum-global-color-gray-800: #{$global-color-gray-800};
    --spectrum-global-color-gray-900: #{$global-color-gray-900};
    --spectrum-alias-background-color-primary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-secondary: var(
        --spectrum-global-color-gray-200
    );
    --spectrum-alias-background-color-tertiary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
    --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.15);
    --spectrum-alias-background-color-hover-overlay: rgba(44, 44, 44, 0.04);
    --spectrum-alias-highlight-hover: rgba(44, 44, 44, 0.06);
    --spectrum-alias-highlight-active: rgba(44, 44, 44, 0.1);
    --spectrum-alias-highlight-selected: rgba(20, 115, 230, 0.1);
    --spectrum-alias-highlight-selected-hover: rgba(20, 115, 230, 0.2);
    --spectrum-alias-text-highlight-color: rgba(20, 115, 230, 0.2);
    --spectrum-alias-background-color-quickactions: rgba(245, 245, 245, 0.9);
    --spectrum-alias-border-color-selected: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-alias-radial-reaction-color-default: rgba(75, 75, 75, 0.6);
    --spectrum-alias-pasteboard-background-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-border-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-separator-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-colorarea-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(
        44,
        44,
        44,
        0.1
    );
    --spectrum-colorwheel-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-miller-column-item-background-color-selected: rgba(
        20,
        115,
        230,
        0.1
    );
    --spectrum-miller-column-item-background-color-selected-hover: rgba(
        20,
        115,
        230,
        0.2
    );
    --spectrum-well-background-color: rgba(75, 75, 75, 0.02);
    --spectrum-well-border-color: rgba(44, 44, 44, 0.05);

    // 下面颜色带透明度 且与主题有关 默认是light主题
    // Part CoverColor
    --spectrum-alias-cover-color-0: #{$global-cover-color-0};
    --spectrum-alias-cover-color-100: #{$global-cover-color-100};
    --spectrum-alias-cover-color-200: #{$global-cover-color-200};

    // Part BorderColor
    --spectrum-alias-border-color-100: #{$global-border-color-100};
    --spectrum-alias-border-color-200: #{$global-border-color-200};
    --spectrum-alias-border-color-light: var(--spectrum-alias-border-color-100);
    --spectrum-alias-border-color-dark: var(--spectrum-alias-border-color-200);
    // Part TextColor
    --spectrum-alias-text-color-primary: #{$global-text-color-primary};
    --spectrum-alias-text-color-secondary: #{$global-text-color-secondary};
    --spectrum-alias-text-color-placeholder: #{$global-text-color-placeholder};
    --spectrum-alias-text-color-disabled: #{$global-text-color-disabled};
    --spectrum-alias-text-color-link: #{$global-text-color-link};

    // Part IconColor
    --spectrum-alias-icon-color-primary: #{$global-icon-color-primary};
    --spectrum-alias-icon-color-secondary: #{$global-icon-color-secondary};
    --spectrum-alias-icon-color-tertiary: #{$global-icon-color-tertiary};
    --spectrum-alias-icon-color-disabled: #{$global-icon-color-disabled};
    --spectrum-alias-icon-color-activited: #{$global-icon-color-activited};
}
/* stylelint-enable */
