/*
Copyright 2020 Adobe. All rights reserved.
Copyright 2021 Gaoding. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
/* stylelint-disable */
:host,
:root {
    --spectrum-global-color-status: Verified;
    --spectrum-global-color-version: 5.3;
    --spectrum-global-color-celery-400: #44b556;
    --spectrum-global-color-celery-500: #3da74e;
    --spectrum-global-color-celery-600: #379947;
    --spectrum-global-color-celery-700: #318b40;
    --spectrum-global-color-chartreuse-400: #85d044;
    --spectrum-global-color-chartreuse-500: #7cc33f;
    --spectrum-global-color-chartreuse-600: #73b53a;
    --spectrum-global-color-chartreuse-700: #6aa834;
    --spectrum-global-color-yellow-400: #dfbf00;
    --spectrum-global-color-yellow-500: #d2b200;
    --spectrum-global-color-yellow-600: #c4a600;
    --spectrum-global-color-yellow-700: #b79900;
    --spectrum-global-color-fuchsia-400: #c038cc;
    --spectrum-global-color-fuchsia-500: #b130bd;
    --spectrum-global-color-fuchsia-600: #a228ad;
    --spectrum-global-color-fuchsia-700: #93219e;
    --spectrum-global-color-indigo-400: #6767ec;
    --spectrum-global-color-indigo-500: #5c5ce0;
    --spectrum-global-color-indigo-600: #5151d3;
    --spectrum-global-color-indigo-700: #4646c6;
    --spectrum-global-color-seafoam-400: #1b959a;
    --spectrum-global-color-seafoam-500: #16878c;
    --spectrum-global-color-seafoam-600: #0f797d;
    --spectrum-global-color-seafoam-700: #096c6f;
    --spectrum-global-color-magenta-100: #fff1f3;
    --spectrum-global-color-magenta-200: #ffd4db;
    --spectrum-global-color-magenta-300: #ffa4b2;
    --spectrum-global-color-magenta-400: #ff74ab;
    --spectrum-global-color-magenta-500: #ff4f6a;
    --spectrum-global-color-magenta-600: #f4337c;
    --spectrum-global-color-magenta-700: #e60e5d;
    --spectrum-global-color-magenta-800: #ffffff;
    --spectrum-global-color-magenta-900: #ffffff;
    --spectrum-global-color-purple-100: #f2f1ff;
    --spectrum-global-color-purple-200: #d7d2ff;
    --spectrum-global-color-purple-300: #aaa0ff;
    --spectrum-global-color-purple-400: #7d6eff;
    --spectrum-global-color-purple-500: #5a47ff;
    --spectrum-global-color-purple-600: #462ae8;
    --spectrum-global-color-purple-700: #3c14d8;
    --spectrum-global-color-purple-800: #ffffff;
    --spectrum-global-color-purple-900: #ffffff;
    --spectrum-global-color-red-100: #fef1f0;
    --spectrum-global-color-red-200: #fdd5d1;
    --spectrum-global-color-red-300: #faa69d;
    --spectrum-global-color-red-400: #f77769;
    --spectrum-global-color-red-500: #f55240;
    --spectrum-global-color-red-600: #e93623;
    --spectrum-global-color-red-700: #d8120a;
    --spectrum-global-color-red-800: #ffffff;
    --spectrum-global-color-red-900: #ffffff;
    --spectrum-global-color-orange-100: #fff7ec;
    --spectrum-global-color-orange-200: #fee7c4;
    --spectrum-global-color-orange-300: #fccc82;
    --spectrum-global-color-orange-400: #fbb03f;
    --spectrum-global-color-orange-500: #fa9b0c;
    --spectrum-global-color-orange-600: #ef8307;
    --spectrum-global-color-orange-700: #de6400;
    --spectrum-global-color-orange-800: #ffffff;
    --spectrum-global-color-orange-900: #ffffff;
    --spectrum-global-color-green-100: #ebf9f4;
    --spectrum-global-color-green-200: #c3eedc;
    --spectrum-global-color-green-300: #7fdbb5;
    --spectrum-global-color-green-400: #3cc78f;
    --spectrum-global-color-green-500: #07b871;
    --spectrum-global-color-green-600: #04a355;
    --spectrum-global-color-green-700: #008832;
    --spectrum-global-color-green-800: #ffffff;
    --spectrum-global-color-green-900: #ffffff;
    --spectrum-global-color-primary-100: #eef4fe;
    --spectrum-global-color-primary-200: #cadefb;
    --spectrum-global-color-primary-300: #8fb8f7;
    --spectrum-global-color-primary-400: #5393f3;
    --spectrum-global-color-primary-500: #2576f0;
    --spectrum-global-color-primary-600: #145be3;
    --spectrum-global-color-primary-700: #0a39d2;
    --spectrum-global-color-primary-800: #ffffff;
    --spectrum-global-color-primary-900: #ffffff;
    --spectrum-global-color-blue-100: #ebf7fe;
    --spectrum-global-color-blue-200: #c1e7fb;
    --spectrum-global-color-blue-300: #7bccf7;
    --spectrum-global-color-blue-400: #36b1f3;
    --spectrum-global-color-blue-500: #009cf0;
    --spectrum-global-color-blue-600: #0084e3;
    --spectrum-global-color-blue-700: #0065d2;
    --spectrum-global-color-blue-800: #ffffff;
    --spectrum-global-color-blue-900: #ffffff;
    --spectrum-global-color-gray-100: #ffffff;
    --spectrum-global-color-gray-200: #fafafa;
    --spectrum-global-color-gray-300: #f5f5f5;
    --spectrum-global-color-gray-400: #ebebeb;
    --spectrum-global-color-gray-500: #e0e0e0;
    --spectrum-global-color-gray-600: #adadad;
    --spectrum-global-color-gray-700: #858585;
    --spectrum-global-color-gray-800: #474747;
    --spectrum-global-color-gray-900: #1f1f1f;
    --spectrum-alias-background-color-primary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-secondary: var(
        --spectrum-global-color-gray-200
    );
    --spectrum-alias-background-color-tertiary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
    --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.15);
    --spectrum-alias-background-color-hover-overlay: rgba(44, 44, 44, 0.04);
    --spectrum-alias-highlight-hover: rgba(44, 44, 44, 0.06);
    --spectrum-alias-highlight-active: rgba(44, 44, 44, 0.1);
    --spectrum-alias-highlight-selected: rgba(20, 115, 230, 0.1);
    --spectrum-alias-highlight-selected-hover: rgba(20, 115, 230, 0.2);
    --spectrum-alias-text-highlight-color: rgba(20, 115, 230, 0.2);
    --spectrum-alias-background-color-quickactions: rgba(245, 245, 245, 0.9);
    --spectrum-alias-border-color-selected: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-alias-radial-reaction-color-default: rgba(75, 75, 75, 0.6);
    --spectrum-alias-pasteboard-background-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-border-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-separator-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-colorarea-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(
        44,
        44,
        44,
        0.1
    );
    --spectrum-colorwheel-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-miller-column-item-background-color-selected: rgba(
        20,
        115,
        230,
        0.1
    );
    --spectrum-miller-column-item-background-color-selected-hover: rgba(
        20,
        115,
        230,
        0.2
    );
    --spectrum-well-background-color: rgba(75, 75, 75, 0.02);
    --spectrum-well-border-color: rgba(44, 44, 44, 0.05);
    --spectrum-alias-cover-color-0: rgba(0, 0, 0, 0);
    --spectrum-alias-cover-color-100: rgba(0, 0, 0, 0.08);
    --spectrum-alias-cover-color-200: rgba(0, 0, 0, 0.16);
    --spectrum-alias-border-color-100: rgba(0, 0, 0, 0.08);
    --spectrum-alias-border-color-200: rgba(0, 0, 0, 0.16);
    --spectrum-alias-border-color-light: var(--spectrum-alias-border-color-100);
    --spectrum-alias-border-color-dark: var(--spectrum-alias-border-color-200);
    --spectrum-alias-text-color-primary: rgba(0, 0, 0, 0.88);
    --spectrum-alias-text-color-secondary: rgba(0, 0, 0, 0.72);
    --spectrum-alias-text-color-placeholder: rgba(0, 0, 0, 0.52);
    --spectrum-alias-text-color-disabled: rgba(0, 0, 0, 0.24);
    --spectrum-alias-text-color-link: #2576f0;
    --spectrum-alias-icon-color-primary: var(--spectrum-global-color-gray-900);
    --spectrum-alias-icon-color-secondary: var(
        --spectrum-global-color-gray-800
    );
    --spectrum-alias-icon-color-tertiary: var(--spectrum-global-color-gray-700);
    --spectrum-alias-icon-color-disabled: var(--spectrum-global-color-gray-500);
    --spectrum-alias-icon-color-activited: var(
        --spectrum-global-color-static-primary-500
    );
    --spectrum-global-color-primary-cover-100: rgba(36, 113, 230, 0.54);
    --spectrum-global-color-primary-cover-200: rgba(34, 109, 221, 0.58);
    --spectrum-global-color-blue-cover-100: rgba(0, 150, 230, 0.54);
    --spectrum-global-color-blue-cover-200: rgba(0, 144, 221, 0.58);
    --spectrum-global-color-red-cover-100: rgba(235, 79, 61, 0.54);
    --spectrum-global-color-red-cover-200: rgba(225, 75, 59, 0.58);
    --spectrum-global-color-green-cover-100: rgba(7, 177, 108, 0.54);
    --spectrum-global-color-green-cover-200: rgba(6, 169, 104, 0.58);
    --spectrum-global-color-gray-cover-100: rgba(215, 215, 215, 0.54);
    --spectrum-global-color-gray-cover-200: rgba(206, 206, 206, 0.58);
    --spectrum-global-color-gray-100-cover-100: rgba(245, 245, 245, 0.54);
    --spectrum-global-color-gray-100-cover-200: rgba(235, 235, 235, 0.58);
    --spectrum-global-color-gray-200-cover-100: rgba(240, 240, 240, 0.54);
    --spectrum-global-color-gray-200-cover-200: rgba(230, 230, 230, 0.58);
    --spectrum-global-color-gray-300-cover-100: rgba(235, 235, 235, 0.54);
    --spectrum-global-color-gray-300-cover-200: rgba(225, 225, 225, 0.58);
    --spectrum-global-color-gray-400-cover-100: rgba(226, 226, 226, 0.54);
    --spectrum-global-color-gray-400-cover-200: rgba(216, 216, 216, 0.58);
    --spectrum-global-color-gray-600-cover-100: rgba(166, 166, 166, 0.54);
    --spectrum-global-color-gray-600-cover-200: rgba(159, 159, 159, 0.58);
    --spectrum-global-color-gray-700-cover-100: rgba(128, 128, 128, 0.54);
    --spectrum-global-color-gray-700-cover-200: rgba(122, 122, 122, 0.58);
    --spectrum-global-color-gray-800-cover-100: rgba(68, 68, 68, 0.54);
    --spectrum-global-color-gray-800-cover-200: rgba(65, 65, 65, 0.58);
    --spectrum-global-color-gray-900-cover-100: rgba(30, 30, 30, 0.54);
    --spectrum-global-color-gray-900-cover-200: #1f1f1f;
}

/* stylelint-enable */
