// PART STATIC
// # Part Color
// color white and black
$global-color-static-white: #ffffff;
$global-color-static-black: #000000;
$global-color-static-extend: #ffffff;
$global-color-static-transparent: transparent;
$global-color-static-primary: #2576f0;
$global-color-static-red: #f55240; //*
$global-color-static-green: #07b871; //*
$global-color-static-orange: #fa9b0c; //*

$global-color-static-white-opacity-300: rgba($global-color-static-white, 0.3);
$global-color-static-black-opacity-300: rgba($global-color-static-black, 0.3);
$global-color-static-primary-opacity-300: rgba(
    $global-color-static-primary,
    0.3
);
$global-color-static-red-opacity-300: rgba($global-color-static-red, 0.3);
$global-color-static-green-opacity-300: rgba($global-color-static-green, 0.3);
$global-color-static-orange-opacity-300: rgba($global-color-static-orange, 0.3);

// color primary
$global-color-static-primary-100: #eef4fe;
$global-color-static-primary-200: #cadefb;
$global-color-static-primary-300: #8fb8f7;
$global-color-static-primary-400: #5393f3;
$global-color-static-primary-500: #2576f0; //*
$global-color-static-primary-600: #145be3;
$global-color-static-primary-700: #0a39d2;
// TODO: to extend
$global-color-static-primary-800: $global-color-static-extend;
$global-color-static-primary-900: $global-color-static-extend;

// color green
$global-color-static-green-100: #ebf9f4;
$global-color-static-green-200: #c3eedc;
$global-color-static-green-300: #7fdbb5;
$global-color-static-green-400: #3cc78f;
$global-color-static-green-500: #07b871; //*
$global-color-static-green-600: #04a355;
$global-color-static-green-700: #008832;
// TODO: to extend
$global-color-static-green-800: $global-color-static-extend;
$global-color-static-green-900: $global-color-static-extend;

// color orange
$global-color-static-orange-100: #fff7ec;
$global-color-static-orange-200: #fee7c4;
$global-color-static-orange-300: #fccc82;
$global-color-static-orange-400: #fbb03f;
$global-color-static-orange-500: #fa9b0c; //*
$global-color-static-orange-600: #ef8307;
$global-color-static-orange-700: #de6400;
// TODO: to extend
$global-color-static-orange-800: $global-color-static-extend;
$global-color-static-orange-900: $global-color-static-extend;

// color red
$global-color-static-red-100: #fef1f0;
$global-color-static-red-200: #fdd5d1;
$global-color-static-red-300: #faa69d;
$global-color-static-red-400: #f77769;
$global-color-static-red-500: #f55240; //*
$global-color-static-red-600: #e93623;
$global-color-static-red-700: #d8120a;
// TODO: to extend
$global-color-static-red-800: $global-color-static-extend;
$global-color-static-red-900: $global-color-static-extend;

// color purple
$global-color-static-purple-100: #f2f1ff;
$global-color-static-purple-200: #d7d2ff;
$global-color-static-purple-300: #aaa0ff;
$global-color-static-purple-400: #7d6eff;
$global-color-static-purple-500: #5a47ff; //*
$global-color-static-purple-600: #462ae8;
$global-color-static-purple-700: #3c14d8;
// TODO: to extend
$global-color-static-purple-800: $global-color-static-extend;
$global-color-static-purple-900: $global-color-static-extend;

// color blue
$global-color-static-blue-100: #ebf7fe;
$global-color-static-blue-200: #c1e7fb;
$global-color-static-blue-300: #7bccf7;
$global-color-static-blue-400: #36b1f3;
$global-color-static-blue-500: #009cf0; //*
$global-color-static-blue-600: #0084e3;
$global-color-static-blue-700: #0065d2;
// TODO: to extend
$global-color-static-blue-800: $global-color-static-extend;
$global-color-static-blue-900: $global-color-static-extend;

// color lakeblue
$global-color-static-lakeblue-100: #ebfbfd;
$global-color-static-lakeblue-200: #c2f2f7;
$global-color-static-lakeblue-300: #7ee4ef;
$global-color-static-lakeblue-400: #39d5e6;
$global-color-static-lakeblue-500: #04cae0; //*
$global-color-static-lakeblue-600: #02b7d1;
$global-color-static-lakeblue-700: #009fbc;
// TODO: to extend
$global-color-static-lakeblue-800: $global-color-static-extend;
$global-color-static-lakeblue-900: $global-color-static-extend;

// color magenta
$global-color-static-magenta-100: #fff1f3;
$global-color-static-magenta-200: #ffd4db;
$global-color-static-magenta-300: #ffa4b2;
$global-color-static-magenta-400: #ff74ab;
$global-color-static-magenta-500: #ff4f6a; //*
$global-color-static-magenta-600: #f4337c;
$global-color-static-magenta-700: #e60e5d;
// TODO: to extend
$global-color-static-magenta-800: $global-color-static-extend;
$global-color-static-magenta-900: $global-color-static-extend;

// # Part Animation
$global-animation-static-duration-0: 0ms;
$global-animation-static-duration-100: 130ms;
$global-animation-static-duration-200: 220ms;
$global-animation-static-duration-300: 350ms;
$global-animation-static-duration-400: 500ms;
$global-animation-static-delay-100: 50ms;
$global-animation-static-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
$global-animation-static-ease-in: cubic-bezier(0.5, 0, 1, 1);
$global-animation-static-ease-out: cubic-bezier(0, 0, 0.4, 1);
$global-animation-static-linear: cubic-bezier(0, 0, 1, 1);

// # Part FontSize
$global-font-size-static-s: 12px;
$global-font-size-static-m: 14px;
$global-font-size-static-l: 18px;

// # Part FontWeight
$global-font-weight-static-s: 400;
$global-font-weight-static-m: 500;
$global-font-weight-static-l: 600;

// # Part LineHeight
$global-line-height-static-s: 1.3;
$global-line-height-static-m: 1.5;
$global-line-height-static-l: 1.7;

// # Part BorderCorner*/
$global-border-corner-static-xs: 2px;
$global-border-corner-static-s: 4px;
$global-border-corner-static-m: 8px;
$global-border-corner-static-l: 16px;
$global-border-corner-static-full: 9999px;

// # Part Border
$global-border-static-s: 1px;
$global-border-static-m: 2px;
$global-border-static-l: 4px;

// # Part Shadow
$global-shadow-static-s: 0px 0px 4px rgba(0, 0, 0, 0.04),
    0px 4px 24px rgba(0, 0, 0, 0.04);
$global-shadow-static-m: 0px 0px 1px rgba(0, 0, 0, 0.16),
    0px 6px 32px 4px rgba(0, 0, 0, 0.08);
$global-shadow-static-l: 0px 2px 8px rgba(0, 0, 0, 0.03),
    0px 16px 48px 8px rgba(0, 0, 0, 0.08);

// # Part ControlHeight
$global-control-height-static-s: 24px;
$global-control-height-static-m: 32px;
$global-control-height-static-l: 40px;
$global-control-height-static-xl: 48px;

// # Part IconSize
$global-icon-size-static-s: 12px;
$global-icon-size-static-m: 16px;
$global-icon-size-static-l: 20px;

// # Part Space
$global-space-static-none: 0;
$global-space-static-extra-tight: 4px;
$global-space-static-tight: 8px;
$global-space-static-base-tight: 12px;
$global-space-static-base: 16px;
$global-space-static-base-loose: 24px;
$global-space-static-loose: 32px;
$global-space-static-extra-loose: 40px;

// # Part ZIndex
$global-zindex-static-deepdive: -99999;
$global-zindex-static-default: 1;
$global-zindex-static-docked: 4;
$global-zindex-static-sticky: 10;
$global-zindex-static-popover: 5000;
$global-zindex-static-dialog: 6000;
$global-zindex-static-dropdown: 7000;
$global-zindex-static-overlay: 8000;
$global-zindex-static-modal: 9000;
$global-zindex-static-spinner: 9050;
$global-zindex-static-toast: 10000;

// PART OTHERS (default Theme Light)*/

// color gray
$global-color-gray-100: #ffffff;
$global-color-gray-200: #fafafa;
$global-color-gray-300: #f5f5f5;
$global-color-gray-400: #ebebeb;
$global-color-gray-500: #e0e0e0; //*
$global-color-gray-600: #c2c2c2;
$global-color-gray-700: #949494;
$global-color-gray-800: #474747;
$global-color-gray-900: #1f1f1f;

// Part CoverColor
$global-light-cover-color-0: rgba($global-color-static-black, 0);
$global-light-cover-color-100: rgba($global-color-static-black, 0.08);
$global-light-cover-color-200: rgba($global-color-static-black, 0.16);
$global-dark-cover-color-0: rgba($global-color-static-white, 0);
$global-dark-cover-color-100: rgba($global-color-static-white, 0.08);
$global-dark-cover-color-200: rgba($global-color-static-white, 0.16);

// Part Brand
$global-color-info: rgba($global-color-static-primary-500, 1);
$global-color-negative: rgba($global-color-static-red-500, 1);
$global-color-tips: rgba($global-color-static-orange-500, 1);
$global-color-positive: rgba($global-color-static-green-500, 1);
