/*
Copyright 2020 Adobe. All rights reserved.
Copyright 2021 Gaoding. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:host,
:root {
    --spectrum-semantic-negative-color-background: var(
        --spectrum-global-color-red-500
    );
    --spectrum-semantic-negative-color-default: var(
        --spectrum-global-color-red-500
    );
    --spectrum-semantic-negative-color-state-hover: var(
        --spectrum-global-color-red-600
    );
    --spectrum-semantic-negative-color-dark: var(
        --spectrum-global-color-red-600
    );
    --spectrum-semantic-negative-color-border: var(
        --spectrum-global-color-red-400
    );
    --spectrum-semantic-negative-color-icon: var(
        --spectrum-global-color-red-600
    );
    --spectrum-semantic-negative-color-status: var(
        --spectrum-global-color-red-400
    );
    --spectrum-semantic-negative-color-text-large: var(
        --spectrum-global-color-red-500
    );
    --spectrum-semantic-negative-color-text-small: var(
        --spectrum-global-color-red-600
    );
    --spectrum-semantic-negative-color-state-down: var(
        --spectrum-global-color-red-700
    );
    --spectrum-semantic-negative-color-state-focus: var(
        --spectrum-global-color-red-400
    );
    --spectrum-semantic-negative-background-color-default: var(
        --spectrum-global-color-red-600
    );
    --spectrum-semantic-negative-background-color-hover: var(
        --spectrum-global-color-red-700
    );
    --spectrum-semantic-negative-background-color-down: var(
        --spectrum-global-color-red-800
    );
    --spectrum-semantic-negative-background-color-key-focus: var(
        --spectrum-global-color-red-700
    );
    --spectrum-semantic-notice-color-background: var(
        --spectrum-global-color-static-orange-700
    );
    --spectrum-semantic-notice-color-default: var(
        --spectrum-global-color-orange-500
    );
    --spectrum-semantic-notice-color-dark: var(
        --spectrum-global-color-orange-600
    );
    --spectrum-semantic-notice-color-border: var(
        --spectrum-global-color-orange-400
    );
    --spectrum-semantic-notice-color-icon: var(
        --spectrum-global-color-orange-600
    );
    --spectrum-semantic-notice-color-status: var(
        --spectrum-global-color-orange-400
    );
    --spectrum-semantic-notice-color-text-large: var(
        --spectrum-global-color-orange-500
    );
    --spectrum-semantic-notice-color-text-small: var(
        --spectrum-global-color-orange-600
    );
    --spectrum-semantic-notice-color-state-down: var(
        --spectrum-global-color-orange-700
    );
    --spectrum-semantic-notice-color-state-focus: var(
        --spectrum-global-color-orange-400
    );
    --spectrum-semantic-notice-background-color-default: var(
        --spectrum-global-color-static-orange-600
    );
    --spectrum-semantic-notice-background-color-hover: var(
        --spectrum-global-color-static-orange-700
    );
    --spectrum-semantic-notice-background-color-down: var(
        --spectrum-global-color-static-orange-800
    );
    --spectrum-semantic-notice-background-color-key-focus: var(
        --spectrum-global-color-static-orange-700
    );
    --spectrum-semantic-positive-color-background: var(
        --spectrum-global-color-green-500
    );
    --spectrum-semantic-positive-color-default: var(
        --spectrum-global-color-green-500
    );
    --spectrum-semantic-positive-color-dark: var(
        --spectrum-global-color-green-600
    );
    --spectrum-semantic-positive-color-border: var(
        --spectrum-global-color-green-400
    );
    --spectrum-semantic-positive-color-icon: var(
        --spectrum-global-color-green-600
    );
    --spectrum-semantic-positive-color-status: var(
        --spectrum-global-color-green-400
    );
    --spectrum-semantic-positive-color-text-large: var(
        --spectrum-global-color-green-500
    );
    --spectrum-semantic-positive-color-text-small: var(
        --spectrum-global-color-green-600
    );
    --spectrum-semantic-positive-color-state-down: var(
        --spectrum-global-color-green-700
    );
    --spectrum-semantic-positive-color-state-focus: var(
        --spectrum-global-color-green-400
    );
    --spectrum-semantic-positive-background-color-default: var(
        --spectrum-global-color-green-500
    );
    --spectrum-semantic-positive-background-color-hover: var(
        --spectrum-global-color-green-600
    );
    --spectrum-semantic-positive-background-color-down: var(
        --spectrum-global-color-green-700
    );
    --spectrum-semantic-positive-background-color-key-focus: var(
        --spectrum-global-color-green-600
    );
    --spectrum-semantic-informative-color-background: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-semantic-informative-color-default: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-semantic-informative-color-dark: var(
        --spectrum-global-color-blue-600
    );
    --spectrum-semantic-informative-color-border: var(
        --spectrum-global-color-blue-400
    );
    --spectrum-semantic-informative-color-icon: var(
        --spectrum-global-color-blue-600
    );
    --spectrum-semantic-informative-color-status: var(
        --spectrum-global-color-blue-400
    );
    --spectrum-semantic-informative-color-text-large: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-semantic-informative-color-text-small: var(
        --spectrum-global-color-blue-600
    );
    --spectrum-semantic-informative-color-state-down: var(
        --spectrum-global-color-blue-700
    );
    --spectrum-semantic-informative-color-state-focus: var(
        --spectrum-global-color-blue-400
    );
    --spectrum-semantic-informative-background-color-default: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-semantic-informative-background-color-hover: var(
        --spectrum-global-color-blue-600
    );
    --spectrum-semantic-informative-background-color-down: var(
        --spectrum-global-color-blue-700
    );
    --spectrum-semantic-informative-background-color-key-focus: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-semantic-cta-color-background-default: var(
        --spectrum-global-color-static-primary-500
    );
    --spectrum-semantic-cta-color-background-hover: var(
        --spectrum-global-color-static-primary-600
    );
    --spectrum-semantic-cta-color-background-down: var(
        --spectrum-global-color-static-primary-700
    );
    --spectrum-semantic-cta-color-background-key-focus: var(
        --spectrum-global-color-static-primary-500
    );
    --spectrum-semantic-cta-color-background-disabled: var(
        --spectrum-global-color-static-primary-opacity-300
    );
    --spectrum-semantic-neutral-background-color-default: var(
        --spectrum-global-color-static-gray-600
    );
    --spectrum-semantic-neutral-background-color-hover: var(
        --spectrum-global-color-static-gray-700
    );
    --spectrum-semantic-neutral-background-color-down: var(
        --spectrum-global-color-static-gray-800
    );
    --spectrum-semantic-neutral-background-color-key-focus: var(
        --spectrum-global-color-static-gray-700
    );
    --spectrum-semantic-presence-color-1: var(
        --spectrum-global-color-static-red-500
    );
    --spectrum-semantic-presence-color-2: var(
        --spectrum-global-color-static-orange-400
    );
    --spectrum-semantic-presence-color-3: var(
        --spectrum-global-color-static-yellow-400
    );
    --spectrum-semantic-presence-color-4: rgb(75, 204, 162);
    --spectrum-semantic-presence-color-5: rgb(0, 199, 255);
    --spectrum-semantic-presence-color-6: rgb(0, 140, 184);
    --spectrum-semantic-presence-color-7: rgb(126, 75, 243);
    --spectrum-semantic-presence-color-8: var(
        --spectrum-global-color-static-fuchsia-600
    );

    // Part Brand
    --spectrum-global-color-info: var(--spectrum-global-color-static-primary);
    --spectrum-global-color-negative: var(--spectrum-global-color-static-red);
    --spectrum-global-color-tips: var(--spectrum-global-color-static-orange);
    --spectrum-global-color-positive: var(--spectrum-global-color-static-green);
}
