/*
Copyright 2020 Adobe. All rights reserved.
Copyright 2021 Gaoding. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import './variable-theme-dark.scss';

/* stylelint-disable */
:host,
:root {
    --spectrum-global-color-status: Verified;
    --spectrum-global-color-version: 5.3;
    --spectrum-global-color-celery-400: #44b556;
    --spectrum-global-color-celery-500: #4bc35f;
    --spectrum-global-color-celery-600: #51d267;
    --spectrum-global-color-celery-700: #58e06f;
    --spectrum-global-color-chartreuse-400: #85d044;
    --spectrum-global-color-chartreuse-500: #8ede49;
    --spectrum-global-color-chartreuse-600: #9bec54;
    --spectrum-global-color-chartreuse-700: #a3f858;
    --spectrum-global-color-yellow-400: #dfbf00;
    --spectrum-global-color-yellow-500: #edcc00;
    --spectrum-global-color-yellow-600: #fad900;
    --spectrum-global-color-yellow-700: #ffe22e;
    --spectrum-global-color-fuchsia-400: #c038cc;
    --spectrum-global-color-fuchsia-500: #cf3edc;
    --spectrum-global-color-fuchsia-600: #d951e5;
    --spectrum-global-color-fuchsia-700: #e366ef;
    --spectrum-global-color-indigo-400: #6767ec;
    --spectrum-global-color-indigo-500: #7575f1;
    --spectrum-global-color-indigo-600: #8282f6;
    --spectrum-global-color-indigo-700: #9090fa;
    --spectrum-global-color-seafoam-400: #1b959a;
    --spectrum-global-color-seafoam-500: #20a3a8;
    --spectrum-global-color-seafoam-600: #23b2b8;
    --spectrum-global-color-seafoam-700: #26c0c7;
    --spectrum-global-color-magenta-400: #{$global-color-static-magenta-400};
    --spectrum-global-color-magenta-500: #{$global-color-static-magenta-500};
    --spectrum-global-color-magenta-600: #{$global-color-static-magenta-600};
    --spectrum-global-color-magenta-700: #{$global-color-static-magenta-700};
    --spectrum-global-color-purple-400: #{$global-color-static-purple-400};
    --spectrum-global-color-purple-500: #{$global-color-static-purple-500};
    --spectrum-global-color-purple-600: #{$global-color-static-purple-600};
    --spectrum-global-color-purple-700: #{$global-color-static-purple-700};
    --spectrum-global-color-red-400: #{$global-color-static-red-400};
    --spectrum-global-color-red-500: #{$global-color-static-red-500};
    --spectrum-global-color-red-600: #{$global-color-static-red-600};
    --spectrum-global-color-red-700: #{$global-color-static-red-700};
    --spectrum-global-color-orange-400: #{$global-color-static-orange-400};
    --spectrum-global-color-orange-500: #{$global-color-static-orange-500};
    --spectrum-global-color-orange-600: #{$global-color-static-orange-600};
    --spectrum-global-color-orange-700: #{$global-color-static-orange-700};
    --spectrum-global-color-green-400: #{$global-color-static-green-400};
    --spectrum-global-color-green-500: #{$global-color-static-green-500};
    --spectrum-global-color-green-600: #{$global-color-static-green-600};
    --spectrum-global-color-green-700: #{$global-color-static-green-700};
    --spectrum-global-color-blue-400: #{$global-color-static-blue-400};
    --spectrum-global-color-blue-500: #{$global-color-static-blue-500};
    --spectrum-global-color-blue-600: #{$global-color-static-blue-600};
    --spectrum-global-color-blue-700: #{$global-color-static-blue-700};
    --spectrum-global-color-gray-100: #{$global-color-gray-100};
    --spectrum-global-color-gray-200: #{$global-color-gray-200};
    --spectrum-global-color-gray-300: #{$global-color-gray-300};
    --spectrum-global-color-gray-400: #{$global-color-gray-400};
    --spectrum-global-color-gray-500: #{$global-color-gray-500};
    --spectrum-global-color-gray-600: #{$global-color-gray-600};
    --spectrum-global-color-gray-700: #{$global-color-gray-700};
    --spectrum-global-color-gray-800: #{$global-color-gray-800};
    --spectrum-global-color-gray-900: #{$global-color-gray-900};
    --spectrum-alias-background-color-primary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-secondary: var(
        --spectrum-global-color-gray-200
    );
    --spectrum-alias-background-color-tertiary: var(
        --spectrum-global-color-gray-400
    );
    --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.5);
    --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.5);
    --spectrum-alias-background-color-hover-overlay: rgba(255, 255, 255, 0.06);
    --spectrum-alias-highlight-hover: rgba(255, 255, 255, 0.07);
    --spectrum-alias-highlight-active: rgba(255, 255, 255, 0.1);
    --spectrum-alias-highlight-selected: rgba(55, 142, 240, 0.15);
    --spectrum-alias-highlight-selected-hover: rgba(55, 142, 240, 0.25);
    --spectrum-alias-text-highlight-color: rgba(55, 142, 240, 0.25);
    --spectrum-alias-background-color-quickactions: rgba(50, 50, 50, 0.9);
    --spectrum-alias-border-color-selected: var(
        --spectrum-global-color-blue-600
    );
    --spectrum-alias-radial-reaction-color-default: rgba(227, 227, 227, 0.6);
    --spectrum-alias-pasteboard-background-color: var(
        --spectrum-global-color-gray-50
    );
    --spectrum-alias-appframe-border-color: var(
        --spectrum-global-color-gray-50
    );
    --spectrum-alias-appframe-separator-color: var(
        --spectrum-global-color-gray-50
    );
    --spectrum-miller-column-item-background-color-selected: rgba(
        55,
        142,
        240,
        0.1
    );
    --spectrum-miller-column-item-background-color-selected-hover: rgba(
        55,
        142,
        240,
        0.2
    );
    --spectrum-well-background-color: rgba(227, 227, 227, 0.02);
    --spectrum-colorarea-border-color: rgba(255, 255, 255, 0.1);
    --spectrum-colorarea-border-color-hover: rgba(255, 255, 255, 0.1);
    --spectrum-colorarea-border-color-down: rgba(255, 255, 255, 0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-border-color: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-border-color-hover: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-border-color-down: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-vertical-border-color: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(
        255,
        255,
        255,
        0.1
    );
    --spectrum-colorslider-vertical-border-color-down: rgba(255, 255, 255, 0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(
        255,
        255,
        255,
        0.1
    );
    --spectrum-colorwheel-border-color: rgba(255, 255, 255, 0.1);
    --spectrum-colorwheel-border-color-hover: rgba(255, 255, 255, 0.1);
    --spectrum-colorwheel-border-color-down: rgba(255, 255, 255, 0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(255, 255, 255, 0.1);
    --spectrum-well-border-color: rgba(255, 255, 255, 0.05);

    // 下面颜色带透明度 且与主题有关 默认是light主题
    // Part CoverColor
    --spectrum-alias-cover-color-0: #{$global-cover-color-0};
    --spectrum-alias-cover-color-100: #{$global-cover-color-100};
    --spectrum-alias-cover-color-200: #{$global-cover-color-200};

    // Part BorderColor
    --spectrum-alias-border-color-100: #{$global-border-color-100};
    --spectrum-alias-border-color-200: #{$global-border-color-200};
    --spectrum-alias-border-color-light: var(--spectrum-alias-border-color-100);
    --spectrum-alias-border-color-dark: var(--spectrum-alias-border-color-200);
    // Part TextColor
    --spectrum-alias-text-color-primary: #{$global-text-color-primary};
    --spectrum-alias-text-color-secondary: #{$global-text-color-secondary};
    --spectrum-alias-text-color-placeholder: #{$global-text-color-placeholder};
    --spectrum-alias-text-color-disabled: #{$global-text-color-disabled};
    --spectrum-alias-text-color-link: #{$global-text-color-link};

    // Part IconColor
    --spectrum-alias-icon-color-primary: var(--spectrum-global-color-gray-900);
    --spectrum-alias-icon-color-secondary: var(
        --spectrum-global-color-gray-800
    );
    --spectrum-alias-icon-color-tertiary: var(--spectrum-global-color-gray-700);
    --spectrum-alias-icon-color-disabled: var(--spectrum-global-color-gray-500);
    --spectrum-alias-icon-color-activited: var(
        --spectrum-global-color-static-white
    );

    // Part FillColor
    --spectrum-global-color-primary-cover-100: #{$global-color-primary-cover-100};
    --spectrum-global-color-primary-cover-200: #{$global-color-primary-cover-200};
    --spectrum-global-color-red-cover-100: #{$global-color-red-cover-100};
    --spectrum-global-color-red-cover-200: #{$global-color-red-cover-200};
    --spectrum-global-color-green-cover-100: #{$global-color-green-cover-100};
    --spectrum-global-color-green-cover-200: #{$global-color-green-cover-200};
    --spectrum-global-color-gray-cover-100: #{$global-color-gray-cover-100};
    --spectrum-global-color-gray-cover-200: #{$global-color-gray-cover-200};

    --spectrum-global-color-gray-100-cover-100: #{$global-color-gray-100-cover-100};
    --spectrum-global-color-gray-100-cover-200: #{$global-color-gray-100-cover-200};
    --spectrum-global-color-gray-200-cover-100: #{$global-color-gray-200-cover-100};
    --spectrum-global-color-gray-200-cover-200: #{$global-color-gray-200-cover-200};
    --spectrum-global-color-gray-300-cover-100: #{$global-color-gray-300-cover-100};
    --spectrum-global-color-gray-300-cover-200: #{$global-color-gray-300-cover-200};
    --spectrum-global-color-gray-400-cover-100: #{$global-color-gray-400-cover-100};
    --spectrum-global-color-gray-400-cover-200: #{$global-color-gray-400-cover-200};
    --spectrum-global-color-gray-600-cover-100: #{$global-color-gray-600-cover-100};
    --spectrum-global-color-gray-600-cover-200: #{$global-color-gray-600-cover-200};
    --spectrum-global-color-gray-700-cover-100: #{$global-color-gray-700-cover-100};
    --spectrum-global-color-gray-700-cover-200: #{$global-color-gray-700-cover-200};
    --spectrum-global-color-gray-800-cover-100: #{$global-color-gray-800-cover-100};
    --spectrum-global-color-gray-800-cover-200: #{$global-color-gray-800-cover-200};
    --spectrum-global-color-gray-900-cover-100: #{$global-color-gray-900-cover-100};
    --spectrum-global-color-gray-900-cover-200: #{$global-color-gray-900-cover-200};
}
/* stylelint-enable */
